@media screen  and (max-width: 760px){
    
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    main {
        flex-direction: column;
        justify-content: center;
        
    }

    h2 {
        font-size: 38px;
        font-weight: 300;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }


    img {
        display: none;
    }

    ul {
        
        justify-self: auto;
        
    }

    #conta {
        display: flex;
        justify-content: center;
        justify-self: center;


    }
}